NODE_ENV=development

APP_ADDRESS=0.0.0.0
APP_PORT=3000
APP_PUBLIC_URL=http://localhost:3000

RESOURCES_DIR=./resources

LOG_LEVEL=info

TOKEN_SECRET=

COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
SESSION_TTL=2592000

DATABASE_URL=postgresql://user:password@localhost:5432/teacoder
REDIS_URL=redis://localhost:6379

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=false

SMTP_FROM_HELLO=hello@teacoder.ru
SMTP_FROM_NOREPLY=no-reply@teacoder.ru

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
