.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

node_modules/
.npm
.pnpm-store
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist/
out/
build/
.tsdown/
*.tsbuildinfo

coverage/
.nyc_output
.gest/

.docker/
docker-compose.override.yml
*.rendered

logs/
*.log.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pino-*.log
/src/generated/prisma
