{"openapi":"3.0.0","paths":{"/auth/account":{"get":{"description":"Fetch account information from the current session.","operationId":"AccountController_fetch","parameters":[],"responses":{"200":{"description":""}},"summary":"Fetch account","tags":["Account"]}},"/auth/account/create":{"post":{"description":"Create a new account","operationId":"AccountController_create","parameters":[],"responses":{"200":{"description":""}},"summary":"Create Account","tags":["Account"]}},"/auth/account/reset_password":{"post":{"description":"Send an email to reset account password.","operationId":"AccountController_sendPasswordReset","parameters":[],"responses":{"200":{"description":""}},"summary":"Send Password Reset","tags":["Account"]},"patch":{"description":"Confirm password reset and change the password.","operationId":"AccountController_passwordReset","parameters":[],"responses":{"200":{"description":""}},"summary":"Password Reset","tags":["Account"]}},"/auth/session/login":{"post":{"description":"Login to an account.","operationId":"SessionController_login","parameters":[],"responses":{"200":{"description":""}},"summary":"Login","tags":["Session"]}},"/auth/session/logout":{"post":{"description":"Delete current session.","operationId":"SessionController_logout","parameters":[],"responses":{"200":{"description":""}},"summary":"Logout","tags":["Session"]}},"/auth/session/all":{"get":{"description":"Fetch all sessions associated with this account.","operationId":"SessionController_findAll","parameters":[],"responses":{"200":{"description":""}},"summary":"Fetch Sessions","tags":["Session"]}},"/auth/session/current":{"get":{"description":"Fetch the details of the currently active session.","operationId":"SessionController_findCurrent","parameters":[],"responses":{"200":{"description":""}},"summary":"Fetch Current Session","tags":["Session"]}},"/auth/session/{id}":{"delete":{"description":"Delete a specific active session.","operationId":"SessionController_remove","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"Revoke Session​","tags":["Session"]}},"/auth/mfa/ticket":{"put":{"description":"Create a new MFA ticket or validate an existing one.","operationId":"MfaController_createTicket","parameters":[],"responses":{"200":{"description":""}},"summary":"Create MFA ticket​","tags":["MFA"]}},"/auth/mfa":{"get":{"description":"Fetch MFA status of an account.","operationId":"MfaController_fetchStatus","parameters":[],"responses":{"200":{"description":""}},"summary":"MFA Status​​","tags":["MFA"]}},"/auth/mfa/recovery":{"post":{"description":"Fetch recovery codes for an account.","operationId":"MfaController_fetchRecovery","parameters":[],"responses":{"200":{"description":""}},"summary":"Fetch Recovery Codes​​​","tags":["MFA"]},"patch":{"description":"Re-generate recovery codes for an account.","operationId":"MfaController_generateRecovery","parameters":[],"responses":{"200":{"description":""}},"summary":"Generate Recovery Codes​​","tags":["MFA"]}},"/auth/mfa/totp":{"put":{"description":"Enable TOTP 2FA for an account.","operationId":"MfaController_totpEnable","parameters":[],"responses":{"200":{"description":""}},"summary":"Enable TOTP 2FA​​","tags":["MFA"]},"post":{"description":"Generate a new secret for TOTP.","operationId":"MfaController_totpGenerateSecret","parameters":[],"responses":{"200":{"description":""}},"summary":"Generate TOTP Secret​​​","tags":["MFA"]},"delete":{"description":"Disable TOTP 2FA for an account.","operationId":"MfaController_totpDisable","parameters":[],"responses":{"200":{"description":""}},"summary":"Disable TOTP 2FA​​","tags":["MFA"]}},"/users":{"get":{"operationId":"UsersController_findAll","parameters":[],"responses":{"200":{"description":""}},"summary":"Fetch All","tags":["Users"]}},"/users/@me":{"get":{"description":"Retrieve your user information.","operationId":"UsersController_self","parameters":[],"responses":{"200":{"description":""}},"summary":"Fetch Self","tags":["Users"]}},"/users/@me/avatar":{"patch":{"operationId":"UsersController_changeAvatar","parameters":[],"responses":{"200":{"description":""}},"summary":"Изменить аватар пользователя","tags":["Users"]}},"/courses/all":{"get":{"operationId":"CourseController_findAll","parameters":[],"responses":{"200":{"description":""}},"tags":["Course"]}},"/courses/by-slug/{slug}":{"get":{"operationId":"CourseController_findBySlug","parameters":[{"name":"slug","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Course"]}},"/courses/by-id/{id}":{"get":{"operationId":"CourseController_findById","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Course"]}},"/courses/create":{"post":{"operationId":"CourseController_create","parameters":[],"responses":{"200":{"description":""}},"tags":["Course"]}},"/courses/change/thumbnail/{id}":{"patch":{"operationId":"CourseController_changeThumbnail","parameters":[{"name":"id","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"tags":["Course"]}}},"info":{"title":"TeaCoder API","description":"API for Teacoder educational platform","version":"1.0.0","contact":{"name":"TeaCoder Support","url":"https://teacoder.ru","email":"support@teacoder.ru"},"termsOfService":"https://teacoder.ru/docs/agreement","license":{"name":"AGPLv3","url":"https://github.com/teacoder-team/backend/blob/master/LICENSE"}},"tags":[],"servers":[{"url":"https://api.teacoder.ru","description":"TeaCoder Production"},{"url":"http://local.teacoder.ru:14702","description":"Local TeaCoder Environment"}],"components":{"schemas":{}}}